@import url('https://fonts.googleapis.com/css?family=Varela+Round');

section {
  font-family: 'Varela Round', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Varela Round', sans-serif !important;
  text-transform: inherit !important;
}